[mysqld]
	user = mysql
	pid-file = /run/mysqld/mysqld.pid
	socket = /run/mysqld/mysqld.sock
	port = 3306
	datadir = /var/lib/mysql
	tmpdir = /tmp
	lc-messages-dir = /usr/share/mariadb
	log-error = /var/log/mysql/error.log
	query_cache_size = 16M	
	character-set-server = utf8mb4
	collation-server = utf8mb4_general_ci

# Disabling symbolic-links is recommended to prevent assorted security risks
	symbolic-links=0

# include all files from the config directory
	!includedir /etc/my.cnf.d

# Optional: enable binary logging for replication
	log-bin = /var/lib/mysql/mysql-bin
	expire_logs_days = 10
	max_binlog_size = 100M

